
@import "../variables";
.information{
    border: 1px $myRed solid;
    &__heading {
        color: $myBlue;
        padding: 16px;
    }
}

.info{
    padding: 16px;
    border: 1px $myRed solid;

    &__title{
        color: $myGreen;
        &::before {
            content: '';
            background: $myGreen;
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 12px;
            border-radius: 50%;
        }
    }
    &__description{
        color: $myRed;
    }
    &__--special{
        border: 1px $myRed solid;                  
    }
}
