@import "~normalize.css";

@import "_variables";
@import "modules/info.scss" ;
@import "modules/navigation.scss";
@import "modules/about.scss";
@import "modules/main.scss"; 
@import "modules/header.scss";
@import "modules/form.scss";
@import "modules/notes.scss";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #02e4d5;
    // background-image: radial-gradient( circle farthest-corner at 1.5% 1.4%, rgba(159, 227, 255, 1) 0%, rgba(255, 177, 219, 1) 100.2%);
}

section {
    background: #fff;
}

fieldset {
    background: #fff;
    border: 1px $myRed solid;
}

legend {
    font-weight: bold;
    color: $myRed;
}

a {
    color: #02e4d5;
}

.footer {
    max-width: 1000px;
    margin: 0 auto;
    &__link{
        color: $myBlue;
    }
}

.grid {
    @media (min-width: $laptop){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
